.album-img{
  width: 400px;


}

center{
  background-color: rgba(102, 120, 166, 0.603);
}



div{
  padding: 25px;
  background-color: rgb(0, 0, 0);
  margin-bottom: 0px;
  padding-left: 10%;
  transition: background-color;  
}

div:hover{
  background-color: lightgrey;
}

button{
  background-color: rgb(0, 0, 0);
  border: 0;
  font-size: 20px;
  font-style:normal;
  transition: background-color;
}

button:hover{
  background-color: lightgrey;

}

a{
  color: white;
}